@use '../../style/variables' as var;

.create-quack-button
    position: fixed
    bottom: 6rem
    right: 1rem
    z-index: 10
    width: 3.5rem
    height: 3.5rem
    border-radius: 50%
    background-color: var.$primary-link-color
    color: white
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.5rem
    cursor: pointer