$background-color: #fff
    
$border-color: #e9e2bb

$icon-color: #687684
$icon-color-active: #FFD801

$primary-title-color: #141619

$primary-text-color: #141619
$secondary-text-color: #687684

$primary-link-color: #4C9EEB

$disable-color: #B9DCF7