@use '../../style/variables' as var;
    
.create-quack
    display: flex
    flex-direction: column
    gap: 3rem
    margin: 2rem 1rem 6rem
    padding: 2rem 1rem 1rem
    border: 1px solid var.$border-color
    border-radius: 4px

    h1
        color: var.$primary-title-color
        font-size: 1.75rem
        text-align: center

    &__form
        display: flex
        flex-direction: column
        gap: 2rem

    &__error
        color: red
        border-radius: 4px
        text-align: center

    &__label
        display: block
        margin: 0 .5rem .5rem
        color: var.$primary-title-color
        font-size: 1rem

    input, textarea
        width: 100%
        font-size: 1rem
        padding: 1rem .75rem
        border: 1px solid var.$border-color
        color: var.$secondary-text-color
        &::placeholder
            color: var.$secondary-text-color
    
    textarea
        resize: vertical
        min-height: 100px
        color: var.$primary-text-color

    &__button
        font-size: 1.2rem
        padding: 1rem
        border: 2px solid var.$border-color
        background-color: var.$background-color
        color: var.$icon-color-active
        cursor: pointer
        margin: 0 1rem